// FONTS
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');

// Colors

// Dark Blue
$darkblue: #080E2F;
// Footer Blue
$footerblue: #060927;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
$jobdescripgrey: #8081AA;
$descriptiongrey2: #7a7bd3;
$descriptionblue: #8091ED;
// First Blue
$firstblue: #58a6ff;
$savethis: #7273ad;

// WHOLE PAGE
* {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    body {
        background-color: $darkblue;
    }
}


// Portrait
@media only screen and (orientation: portrait) {
    .container {
        background-color: $darkblue;
        .desktop_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2em 3em 2em 3em;
            .section_title {
                color: white;
            }
            .home_desktop_nav {
                ul {
                    display: none;
                }
                .mobile_nav {
                    #mobile_nav {
                        width: 3em;
                        height: 3em;
                    }
                }
            }
        }
        // HOME SECTION
        #home_section_id {
            background-color: $darkblue;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        // ABOUT SECTION
        #about_section_id {
            background-color: $nextgreen;
            height: 100vh;
            display: flex;
            flex-direction: column;
            .about_section_content {
                display: flex;
                flex-direction: column;
                .title_nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2em 3em 2em 3em;
                    .section_title {
                        font-family: 'Inter', sans-serif;
                        font-size: 2rem;
                        font-weight: bold;
                        color: white;
                    }
                    .about_desktop_nav {
                        ul {
                            display: none;
                        }
                        .mobile_nav {
                            #mobile_nav {
                                width: 3em;
                                height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Landscape
@media only screen and (orientation: landscape) {
    .container {
        background-color: $darkblue;
        .desktop_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3em 4em 2em 4em;
            .section_title {
                color: white;
            }
            .home_desktop_nav {
                ul {
                    display: none;
                }
                .mobile_nav {
                    #mobile_nav {
                        width: 3em;
                        height: 3em;
                    }
                }
            }
        }
        // HOME SECTION
        #home_section_id {
            background-color: $darkblue;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }
        // ABOUT SECTION
        #about_section_id {
            background-color: $nextgreen;
            height: 100vh;
            display: flex;
            flex-direction: column;
            .about_section_content {
                display: flex;
                flex-direction: column;
                .title_nav {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 3em 4em 2em 4em;
                    .section_title {
                        font-family: 'Inter', sans-serif;
                        font-size: 2rem;
                        font-weight: bold;
                        color: white;
                    }
                    .about_desktop_nav {
                        ul {
                            display: none;
                        }
                        .mobile_nav {
                            #mobile_nav {
                                width: 3em;
                                height: 3em;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Desktop

// 1200
@media only screen and (min-width: 1200px) {
    .container {
        background-color: $darkblue;
        .desktop_nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            // padding: 5em 5em;
            padding: 2em 5em 2em 5em;
            // height: 20vh;
            .section_title {
                font-family: 'Inter', sans-serif;
                font-size: 3rem;
                font-weight: bold;
                color: white;
            }
            .home_desktop_nav {
                ul {
                    display: flex;
                    gap: 20px;
                    li {
                        list-style: none;
                        a {
                            color: white;
                            text-decoration: none;
                            font-family: 'Inter', sans-serif;
                        }
                    }
                }
            }
            ul {
                display: flex;
                gap: 5px;
                li {
                    color: white;
                }
            }
        }
        .mobile_nav {
            display: none;
        }
        //////////////////////////////////////////////
        /// HOME
        #home_section_id {
            background-color: $darkblue;
            height: 100vh;
        }
        //////////////////////////////////////////////
        /// ABOUT
        #about_section_id {
            background-color: $nextgreen;
            height: 100vh;
            .about_section_content {
                .title_nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2em 5em 2em 5em;
                    .section_title {
                        font-family: 'Inter', sans-serif;
                        font-size: 3rem;
                        font-weight: bold;
                        color: white;
                    }
                    .about_desktop_nav {
                        ul {
                            display: flex;
                            gap: 20px;
                            li {
                                list-style: none;
                                a {
                                    color: white;
                                    text-decoration: none;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                    }
                }
            }
        }
        ////////////////////////////////////////////////////////
        // PORTFOLIO SECTION
        #portfolio_section_id {
        background-color: $darkblue;
        height: 100vh;
        .portfolio_section_content {
            .title_nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2em 5em 2em 5em;
                .section_title {
                    font-family: 'Inter', sans-serif;
                    font-size: 3rem;
                    font-weight: bold;
                    color: white;
                }
                .portfolio_desktop_nav {
                    ul {
                        display: flex;
                        gap: 20px;
                        li {
                            list-style: none;
                            a {
                                color: white;
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
    /////////////////////////////////////////////
    /// SKILLS
    #skills_section_id {
        background-color: $nextgreen;
        height: 100vh;
        .skills_section_content {
            .title_nav {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 2em 5em 2em 5em;
                .section_title {
                    font-family: 'Inter', sans-serif;
                    font-size: 3rem;
                    font-weight: bold;
                    color: white;
                }
                .skills_desktop_nav {
                    ul {
                        display: flex;
                        gap: 20px;
                        li {
                            list-style: none;
                            a {
                                color: white;
                                text-decoration: none;
                                font-family: 'Inter', sans-serif;
                            }
                        }
                    }
                }
            }
        }
    }
    ////////////////////////////////////////////////////////
    // EXPERIENCE SECTION
        #experience_section_id {
            background-color: $darkblue;
            height: 85vh;
            .experience_section_content {
                // height: 60vh;
                .title_nav {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2em 5em 2em 5em;
                    .section_title {
                        font-family: 'Inter', sans-serif;
                        font-size: 3rem;
                        font-weight: bold;
                        color: white;
                    }
                    .experience_desktop_nav {
                        ul {
                            display: flex;
                            gap: 20px;
                            li {
                                list-style: none;
                                a {
                                    color: white;
                                    text-decoration: none;
                                    font-family: 'Inter', sans-serif;
                                }
                            }
                        }
                    }
                }
            }
        }
        //////////////////////////////////////////////////
        /// FOOTER
        #footer_section_id {
            background-color: #060927;
            // background-color: rebeccapurple;
            height: 20vh;
            height: 25%;
            .footer_section_content {
                padding: 2em 5em 2em 5em;
                border-top: $nextgreen 2px solid;
                filter: opacity(90%);
                // width: 100%;
                .footer_elements {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .socials_footer {
                        display: flex;
                        align-items: center;
                        gap: 2.5em;
                        filter: opacity(80%);
                        #github {
                            height: 2.5em;
                            width: 2.5em;
                        }
                        #linkedin {
                            height: 3em;
                            width: 3em;
                        }
                        #instagram {
                            height: 3.4em;
                            width: 3.4em;
                        }
                        #twitter {
                            height: 3em;
                            width: 3em;
                        }
                    }
                    .email_footer {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        // For the top of the email input
                        // label {
                        //     font-family: 'Inter', sans-serif;
                        //     color: $resumebutton;
                        //     font-weight: bold;
                        //     filter: opacity(90%);
                        // }
                        .email_submit {
                            display: flex;
                            align-items: center;
                            input {
                                padding: 1em 8em;
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                                border: none;
                                // filter: opacity(80%);
                            }
                            ::placeholder {
                                color: gray;
                                color: $footerblue;
                                color: $nextgreen;
                                filter: opacity(75%);
                                font-family: 'Inter', sans-serif;
                                font-weight: bold;
                                // background-color: red;
                                text-align: center;
                            }
                            button {
                                border: 2px solid $jobdescription;
                                border: 2px solid white;
                                border-left: none;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                                color: $jobdescription;
                                color: white;
                                background: none;
                                padding: .88em 3em;
                                cursor: pointer;
                                // filter: opacity(80%);
                            }
                            button:hover {
                                // background-color: white;
                                border: 2px solid $jobdescripgrey;
                                border-left: none;
                                color: $darkblue;
                                color: $jobdescripgrey;
                                transition: .2s all ease-in;
                            }
                        }
                    }
                    .footer_logo {
                        small {
                            color: white;
                            display: flex;
                            align-items: center;
                            font-family: 'Inter', sans-serif;
                            font-size: .7rem;
                            gap: .5em;
                            filter: opacity(80%);
                            #footer_logo {
                                width: 2em;
                                height: 2em;
                            }
                        }
                    }
                }
            }
        }
    } 
}
